{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "alias": {
          "components": "./components/",
          "data": "./data",
          "helpers": "./helpers",
          "hooks": "./hooks",
          "layouts": "./layouts",
          "locales": "./locales",
          "pages": "./pages",
          "templates": "./templates"
        }
      }
    ],
    ["macros"]
  ]
}
