# Pages directory -- Note: Pages are defined in /templates and copied over to
# /pages via /scripts/setUpRoutes.js
pages/

# next.js build output
.next
out/

# data
data/organizations.json

# dotenv environment variables
.env
.env.build

# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local Netlify folder
.netlify